*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pos-rel{
    position: relative;
}

/*#startregion header*/
header{
    height: 4rem;
    background-color: #000000;
}

header>span{
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    background-color: #4a4a4aaa;
    position: absolute;
    top: 5%;
    right: 2.5%;
    padding: 3px 6px;
    border-radius: 7px;
}

#squares{
    display: inline-block;
    font-size: 15px;
}

header>#x-arrow{
    display: inline-block;
    font-size: 15px; 
    top: 5%;
    right: 6px;
}

/*#endregion header*/


/*#startregion main*/
main{
    background-color:#000000;
}

main>.conteiner{
    height: calc(100vh - 8rem);
    overflow: auto;
    width: 80%;
    margin: auto;
    padding: 1rem 0;
}

.conteiner>.row{
    display: flex;
    height: 150px;
}

.row>.col{
    height: 100%;
    width: calc(100% / 5);
    padding: 5px 5px;
}

.card{
    height: 100%;
    width: 100%;
    background-image: url("https://picsum.photos/200");
}

.card>span{
    position: absolute;
    left: 0%;
    bottom: 0%;
    background-color: #4a4a4ad0;
    color: white;
    padding:2px 5px;
    font-size: small;
}
/*#endregion main*/


/*#startregion footer*/
footer{
    height: 4rem;
    background-color: #222222;
    display: flex;
}

footer>.col1{
    width: 15%;
    color: white;
    padding: 8px 10px;
    display: flex;
}

footer>.col2{
    width: 77%;
    color: white;
    padding: 12px 10px;
}

footer>.col3{
    width: 8%;
    color: white;
    padding: 8px 10px;
    text-align: end;
    background-color: rgba(128, 128, 128, 0.541);
    font-size: small;
    color: red;
}

.col3>div{
    text-align: center;
    padding-top: 15px;
}

.col1>.cont1{
    width: 40%;
    padding-top: 5px;
}

.col2>.cont2{
    width: 60%;
    margin: auto;
    display: flex;
}

.cont2>.cont2b{
    width: calc(90%/8);
}

.icon, .text_icon{
    text-align: center;
}

.text_icon{
    text-align: center;
    font-size: small;
}

.icon{
    font-size: large;
}

.col1>.arrow{
    width: 10%;
}

/*#endregion footer*/
